.footer{
    position: absolute;
    width: 80%;
    height:336px;
    left:-45px;
    top:4250px;


    
  }

  #funiro{
    position: absolute;
    font-family:'Gilroy';
    font-size: normal;
    font-weight: 400;
    line-height: 30px;
    color: #616161;
    width: 249px;
    height: 72px;
    font-size: 16px;
    left: 102px;
  
  }

 

  #Menu{
    position: absolute;
    width: 104px;
    height: 229px;
    left: 431px;

    font-family: 'Gilroy';
    font-style:normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #616161;


  }

  #Account{
    position: absolute;
    width: 93px;
    height: 109px;
    left: 614px;

    font-family: 'Gilroy';
    font-style:normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 37px;
    color: #616161;


  }

  #Stay{
    position: absolute;
    width: 180px;
    height: 149px;
    left: 790px;
    white-space: nowrap;
    line-height: 37px;
    color: #616161;

  }

  #Stay-Updated{
    position: absolute;
    white-space: nowrap;
    width: 292px;
    height: 90px;
    left: 1000px;
    font-size: 13px;
  }

  #titulo-negrito{
    width: 74px;
    height: 29px;
   
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 40px;
    color: #000000;

  }

 #icon-locali{
  position: absolute;
 font-size: 16px;
  border: 0;
  background-color: #ffffff;
  left: -2px;
  top: 128px;
  color: #616161;
}

  #icon-call{
    position: absolute;
    border: 0;
    font-size: 13px;
    background-color: #ffffff;
    left: 2px;
    top: 157px;
    color: #616161;

  }

  

  #botao-stay{
    position: absolute;
    left: 1000px;
    top:50px;
 

  }
  #input{
   
    width: 265px;
    height: 50px;
    background:#F4F5F7;
    font-size: 17px;
    border: 0;
 
 
   
  }

  #btnGroupAddon2{
    flex-wrap: wrap;
    white-space: nowrap;
    width: 46px;
    height: 50px;
    background-color: #E89F71;
    border-radius: 0;
    max-width: 800px;



  }
  
 
  #sub-Sawo{
    text-indent: 20px;
  }



  #logo-botao{
  flex-wrap: wrap;
  white-space: nowrap;
  height:15px;
  color: #ffffff;
  border: 0;
  background-color: #E89F71;
  font-size: 25px;
  margin-bottom: 25px;
  margin-left: -3px;
  max-width: 800px;


  }


 
  